.bookings {
    padding: 20px;
    text-align: left;
    max-width: 80%; 
    margin: 0 auto; 
}

h2 {
    text-align: left; 
    margin-left: 0;   
    font-size: 1.8rem; 
    color: #333; 
}

.delete-button {
    background: none;
    border: none;
    color: rgb(140, 131, 131);
    cursor: pointer;
    padding: 5px;
    font-size: 1.2rem;
}

.delete-button:hover {
    color: darkred;
}


.booking-item {
    margin: 15px auto; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    max-width: 500px;
}

.booking-item h4 {
    margin: 0 0 5px 0; 
    font-size: 1.1rem;
    color: #333;
}

.booking-item p {
    margin: 0;
    font-size: 1rem;
}

.booking-details {
    display: flex;
    flex-direction: column;
}

.booking-details p {
    margin: 5px 0 15px 0;
    padding: 0;
    font-family: Georgia, Times, serif;
   font-size: 1.5rem;
   font-weight: 500;
   color: #000000;
   background-color: #f9f9f9;
   text-align: left;  
}

.booking-details p.date, .booking-details p.time {
   font-size: 1.3rem; 
   margin: 5px 0;
}